* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.Calculator {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset, -5px -5px 5px rgba(0, 0, 0, 0.5)inset;
}

input {
    background: transparent;
    border: none;
    margin: 10px;
    padding: 20px;
    background: transparent;
    width: 100%;
    font-size: larger;
    text-align: right;
    color: black;
    font-weight: bolder;
}

.screen {
    border: 1px black solid;
    border-radius: 15px;
    background: transparent;
    margin-bottom: 19px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset, -5px -5px 5px rgba(0, 0, 0, 0.5) inset;

}
input::placeholder{
    color: black;
    font-size: larger;
    font-weight: bolder;
}
button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.5) inset, -5px -5px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    font-weight: bolder;

}
.equal{
    background-color:burlywood;
}
.operator{
    color:rgb(0, 2, 138);
}